.container-navbar {
  display: flex;
  background-color: purple;
  color: white;
  height: 60px;
  align-items: center;
  justify-content: center;
}

.container-input {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}